.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: BrandonRegular, sans-serif;
    font-size: 30px;
  }
  .title {
    margin: 10px;
  }
  .signin-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
